<div class="container">
    <div class="login">

        <div class="box">
            <div><img src="../../assets/bank.png" alt=""></div>
        <h1>My Bank</h1>
        <!-- string interpolation -->
        <h6>{{aim}}</h6>
        <div>
            <input [(ngModel)]="acno" type="text" [placeholder]="account">
        </div>
        <div>
            <input [(ngModel)]="pswd" type="password" placeholder="password">
        </div>
        <div>
            <button id="login" type="button" (click)="login()">Log in</button></div>

        <div><a href="#">Forget Password</a>Or <a routerLink="register">Sign up</a></div>
    </div>

    </div>
</div>