<div class="container">
    <div class="signup">
        
        <div class="box">
            <div><img src="images/Banks.jpg" alt=""></div>
        <h1>My Bank</h1>
        <div><input id="user" type="text" placeholder="Username"></div>
        <div><input id="acno" type="text" placeholder="Account number"></div>
        <div><input id="pswd" type="password" placeholder="password"></div>
        <div><button id="register" onclick="registration()" type="button">Register</button></div>

        <div><a href="bank-login.html">Sign in</a></div>

    </div>
    </div>
</div>
