<div class="container">
    <div class="signup">
        
        <div class="box">
            <div><img src="images/Banks.jpg" alt=""></div>
        <h1>My Bank</h1>

        <form [formGroup]="registrationForm">
        <div>
            <input formControlName="uname" type="text" placeholder="Username">
        </div>
        <div>
            <input formControlName="acno" type="text" placeholder="Account number">
        </div>
        <div>
            <input formControlName="pswd" type="password" placeholder="password">
        </div>
        <div>
            <button id="register" (click)="register()" type="button">Register</button></div>
        </form>
        <div><a routerLink="">Sign in</a></div>

    </div>
    </div>
</div>
